.code 
{
	border: 1px solid black;
	background-color: #F4F4F4;/*Done*/
	padding: 5px;
}

body 
{
	font: 12px Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	background-color: #fff;
	color: #333;
}


/* Link colors */
a 
{
	color:#443B31;/*Dark*/
	text-decoration:none; 
}

a:hover 
{
	text-decoration:underline;
}

/* Headings */
h1 
{ 
	font-size:28px;
	color:#443B31;/*Dark*/
}

/* Table colors */

table
{
	border:none;
}

td
{
	border:none;
	border-bottom:1px dotted #ddd;
}

th
{
	border:none;
}

.TableHeadingColor th
{
	background-color: #EDE8E5;/*Light*/
	background-image: url(resources/TableHeading-background.png);
	background-repeat: repeat-x;
	color:#776965;/*Medium*/
	color:#443B31;/*Dark*/
	font-size:14px;
	height:26px;
}

.TableSubHeadingColor  
{ 
	background: #EDE8E5;/*Light*/

} 
.TableRowColor         
{ 
	background: #fff;
}

.TableRowColor a      
{ 
	border-bottom:none;
	color:#443B31;/*Dark*/
	font-weight:normal;
}

tr.TableRowColor:hover
{
	background:#EDE8E5;/*Light*/
}

 
/* Font used in left-hand frame lists */
.FrameTitleFont   
{ 
	font-size: 120%; 
	font-weight:bold;
}

.FrameTitleFont a   
{  
	color: #333;
}

.FrameHeadingFont 
{ 
	font-weight: bold;
	font-size:95%;
}

.FrameItemFont    
{ 
	line-height:130%;
	font-size: 95%; 
}

.FrameItemFont a
{
	color:#333;
}

.FrameItemFont a:hover
{
	color:#443B31;/*Dark*/
	border-bottom:none;
	text-decoration:underline;
}

/* Navigation bar fonts and colors */
.NavBarCell1    
{ 
	background-color:#fff;
	border:none;
} 

.NavBarCell1Rev 
{ 
	background-color:#EDE8E5;/*Light*/
	border:1px solid #776965;/*Medium*/
	padding:0;
	margin:0;
} 

.NavBarCell1 a  
{ 
	color:#333;
	color:#776965;/*Medium*/
	text-decoration:none;
}

.NavBarFont1Rev 
{ 
	color:#776965;/*Medium*/
}

.NavBarCell2
{
	border:none;
}

.NavBarCell2 a    
{ 
	color:#443B31;/*Dark*/
	color:#776965;/*Medium*/
	font-size:90%;
}

.NavBarCell3    
{ 
	border:none;
}

/* Override sizes in font tags */
font
{
	font: inherit !important;
}
